#set($title="关于我们")

<div class="shadow-box">
	<h1 class="post-title">关于我们</h1>
	<div class="clearfix post-other">
		<span class="pull-left author">
			～(￣▽￣～)(～￣▽￣)～
		</span>
	</div>
	<div class="post-frame">
		<div class="post-content">
			<p><strong>关于本网站</strong><br/></p>
			<p>本网站为多用户个人博客性质网站，如果你喜欢本网站风格(～￣▽￣)～就喜欢吧，反正不给用o(*≧▽≦)ツ┏━┓</p>
			<p><strong>知识产权</strong><br/></p>
			<p>网站内容来自用户自行发起，或转载于互联网，如有涉及到版权问题，请告诉我们，我们将会对其进行删除处理</p>
		</div>
		<div class="post-footer">
		</div>
	</div>
</div>