#set($title="常见问题解答")

<div class="shadow-box">
	<h1 class="post-title">常见问题解答</h1>
	<div class="clearfix post-other">
		<span class="pull-left author">
			～(￣▽￣～)(～￣▽￣)～
		</span>
	</div>
	<div class="post-frame">
		<div class="post-content">
			<ol class=" list-paddingleft-2">
				<li>
					<p><strong>1.怎么注册</strong>
					</p>
					<p>什么你问怎么注册？</p>
					<p>我也没想好(/≧▽≦)/</p>
					<p>暂时不开放注册</p>
					<p>自留地</p>
					<p>嗯嗯，自留地(o゜▽゜)o☆[BINGO!]</p>
				</li>
			</ol>
		</div>
		<div class="post-footer">
		</div>
	</div>
</div>