#set($title="加入我们")

<div class="shadow-box">
	<h1 class="post-title">联系我们</h1>
	<div class="clearfix post-other">
		<span class="pull-left author">
			～(￣▽￣～)(～￣▽￣)～
		</span>
	</div>
	<div class="post-frame">
		<div class="post-content">
			<p><strong>联系我们</strong></p>
			<p>暂时还不想公开联系方式(≧∀≦)ゞ</p>
		</div>
		<div class="post-footer">
		</div>
	</div>
</div>